---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

////////////////////////////////////
$sans-serif: "Noto Sans KR";
$monospace: "Ubuntu Mono";
$type-size-4-5: 1.12em !default; // Ubuntu Mono is a bit small

@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR|Ubuntu+Mono);

html {
  font-size: 12px; // change to whatever

  @include breakpoint($medium) {
    font-size: 14px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 18px; // change to whatever
  }
}

.highlight {
  font-family: $monospace;
  font-size: $type-size-4-5;
}

////////////////////////////////////

.page__content .archive__item-title {
  margin-top: 2em;
}

.archive__item-title a {
  text-decoration: none !important;
}

.archive__item-excerpt {
  font-size: 0.85em !important;
}

// .list__item {
// 	border-bottom: solid 1px #235e70;
// }

.entries-list .list__item {
  padding-bottom: 20px !important;
}

// .page__content {
// 	font-size: 0.8em;
// }

// .page__content ul li span.sub-title{
// 	font-weight: bold;
// 	font-size: 1em;
// }

// .page__content p, .page__content li, .page__content dl {
// 	font-size: 1em;
// }

// .page__content li p {
// 	font-size: 1em;
// }

p > code,
a > code,
li > code,
figcaption > code,
td > code {
  margin: 0px 2px;
  color: rgb(255, 255, 255);
  padding: 3px 6px;
  font-size: 0.9em;
  border-radius: 0.3rem;
  background-color: rgb(0, 117, 111);
}

.list_bottom_line {
  width: 100%;
  border-bottom: 1px solid #235e70;
  transform: scaleY(0.2);
}

.top_move_button {
  position: fixed;
  right: 2%;
  bottom: 50px;
  display: none;
  z-index: 999;
}

.pagination--pager {
  color: rgb(73, 80, 87) !important;
}

.pagination--pager .fas{
  color: #009e96 !important;
}

.pagination--pager:hover {
  background-color: #d5d6d6 !important;
}