---
layout: customCategory

toc: true
toc_label: "List"
toc_sticky: true 
---

	{% assign categories_max = 0 %}
	{% for category in site.categories %}
	  {% if category[1].size > categories_max %}
		{% assign categories_max = category[1].size %}
	  {% endif %}
	{% endfor %}

	{% assign entries_layout = page.entries_layout | default: 'list' %}
	{% for i in (1..categories_max) reversed %}
	  {% for category in site.categories %}
		{% if category[1].size == i %}
		  <section id="{{ category[0] | slugify | downcase }}" class="">
			
			<h2 id="{{ category[0] }}" class="categories_subtitle">{{ category[0] }} ({{ i }}건)</h2>

			<div class="entries-{{ entries_layout }}">
			  {% for post in category.last %}
				{% include archive-single.html type=entries_layout %}
			  {% endfor %}
			</div>
		  </section>
		{% endif %}
	  {% endfor %}
	{% endfor %}

